.git-ui .tabbable .alert.alert-danger {
  margin-bottom: 10px !important;
}

.git-ui .btn-group button.btn.dropdown-toggle {
  text-align: right;
}

.git-ui .btn-group button.btn.dropdown-toggle i {
  font-size: 25px;
}

.git-ui .btn-group .dropdown-menu {
  margin-top: -9px;
}

.git-ui .tabbable .tab-pane.logs .commits .config a {
  font-size: 13px;
  cursor: pointer;
}

.git-ui .tabbable .tab-pane.logs .commits .config a small, .git-ui .modal .modal-header h6 small {
  display: block; font-size: 10px; color: grey;
}

.modal .modal-body textarea {
  font-size: 10px;
  font-family: monospace;
  width: 100%;
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;  
}
